@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*-------------------------- HEADER ---------------------------------------- */

header {
    background-color: #222222;
    justify-items: center;
}

.header-logo{
    color: #e7dfd4;
    text-decoration: none;
}

.header-logo img{
    height: 10px;
    width: auto;
}

header nav ul li {
    margin: 10px;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    margin: 10px 30px;
}

/*-------------------------- MAIN ---------------------------------------- */

.carrusel img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.inicio {
    padding: 30px;
    background-color: rgba(47, 45, 45, 0.632);
    border-radius: 8px;
    margin: 20px;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.p-destacado {
    text-align: center;
    margin-top: 40px;
}

.sec-destacado-contenedor {
    position: relative;
    margin: 50px;
    margin-bottom: 110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    gap: 10px;
}

.sec-destacado-item {
    border: 2px solid black;
    position: relative;
    border-radius: 5px;
}

.sec-destacado-contenedor div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-comprar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-enviar {
    width: 100%;
    padding: 12px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #333;
}

/* Seccion de contacto solo texto */
.sec-contenedor-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #111;
    min-height: auto;
    color: white;
    padding: 20px 80px;
    flex-wrap: wrap;
    max-width: auto;
}

.sec-contenedor-contacto-seccion {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    min-height: 500px;
    justify-content: space-between;
}

.contacto-div-item-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.p-contacto-item-tittle {
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 10px;
}

.p-contacto-item-text-1 {
    font-size: 16px;
    margin-bottom: 40px;
}

/* Seccion de contacto ingreso datos */

.sec-contenedor-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.sec-contenedor-datos {
    margin: 10px;
    padding: 10px;
}

.sec-contenedor-ingreso {
    padding: 6px 20px;
}

form {
    min-height: 100px;
    background-color: #111;
    width: 100%;
    max-width: 800px;
    margin: auto;
    color: white;
}

.sec-contenedor-item {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 2px solid #666;
    border-radius: 4px;
    margin: 10px 0;
}

/* Pagina Nosotros*/
.nosotros {
    display: flex;
    background-color: #f9f5f1;
    padding: 60px 20px;
    justify-content: center;
}

.nosotros>div {
    max-width: 900px;
    text-align: center;
}

.nosotros img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.nosotros h1 {
    font-size: 3rem;
    color: #4b2e05;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.nosotros p {
    font-size: 1.15rem;
    line-height: 1.7;
    color: #4a4a4a;
    margin-bottom: 22px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo Tipos Tostados*/

.contenedor-cafe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #faf5f0;
    gap: 20px;
    padding: 10px;

}

/* Estilo Texto Tipos Tostados*/
#contenedor-cafe-descripcion {
    width: 60%;
    padding: 20px;
    background-color: #ddd9d4;

}

#texto-descripcion {
    color: #4a4a4a;
    line-height: 1.6;
    text-align: center;
}

#texto-descripcion h2 {
    color: #6b4f1d;
    margin-bottom: 15px;
}

/* Estilos para botones */
.btn-izquierda a {
    display: inline-block;
    width: 100px;
    margin-top: 250px;
    margin-left: 80px;
    background-color: #6b4f1d;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.btn-derecha a {
    display: inline-block;
    width: 100px;
    margin-top: 250px;
    margin-right: 80px;
    background-color: #6b4f1d;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.btn-izquierda button:hover,
.btn-derecha button:hover {
    background-color: #503a12;
}

/*--------------------------    FOOTER ------------------*/

footer {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: white;
    font-size: 14px;
    margin: 10px;
}