footer {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
        color: white;
        font-size: 14px;
        margin: 10px;
    }
}