header {
    nav {
        background-color: #222222;
        padding: 1rem 2rem;
    }

    a {
        img {
            height: 50px;
            width: auto;
        }
    }
        ul {
            li {
                margin: 10px;

                .nav-link {
                    color: #e7dfd4 !important;
                    margin: 10px 30px;
                }
            }
    }
}
