.header {
    .navbar {
        background-color: #222222;
        padding: 1rem 2rem;
        .header-logo img {
            height: 50px;
            width: auto;
        }
        .header nav ul li {
            margin: 10px;
            .nav-link {
                color: $color-navbar !important;
                margin: 10px 30px;
            }
        }

    }
}