header {
    .navbar {
        background-color: $color-navbar;
        padding: 1rem 2rem;

        .header-logo {
            img {
                height: 50px;
                width: auto;
            }
        }

        .navbar-nav {
            .nav-item {
                margin: 10px;

                .nav-link {
                    color: $color-icon !important;
                    margin: 10px 30px;
                }
            }
        }
    }
}