//* VARIABLES

$color-navbar: #e7dfd4;
$color-fondo: #f9f5f1;

//EXTEND
%centrado-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Mixin para botones con hove
@mixin estilo-boton($color, $hover-color) {
    width: 100px;
    background-color: $color;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $hover-color;
    }
}