//* VARIABLES

$color-icon: #e7dfd4;
$color-fondo: #f5f5f5;
$color-boton: #6b4f1d;
$color-hover: #503a12;
$color-texto: white;
$color-texto-contraste: black;
$color-titulo: #4b2e05;
$color-navbar: #222222;

// Mixin para flexbox
@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexcontenedor($display, $direction, $justify){
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
}

// Mixin para imagenes ajustadas
@mixin img-ajustada($radius: 10px) {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: $radius;
}

// Mixin para boton
@mixin estilo-boton($bg, $hover) {
  width: 100px;
  background-color: $bg;
  color: white;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover;
  }
}

// Placeholder para flex centrado
%centrado-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Placeholder para parrafo base
%parrafo {
  font-size: 1.15rem;
  line-height: 1.7;
  color: $color-texto-contraste;
}

// Placeholder para titulos
%titulo-centrado {
  font-size: 3rem;
  color: $color-titulo;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

// Placeholder para boton estilizado
%estilo-boton {
  @include estilo-boton($color-boton, $color-hover);
}
